<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div style="margin-top:120px;">
    <h1>
      <%= title %>
    </h1>
    <ul id="breadcrumb">
      <li><a href="/"><span class="icon icon-home"> </span></a></li>
      <li><a href="/bjpk10" target="_blank"><span class="icon icon-rocket"> </span> 北京赛车Pk10</a></li>
      <li><a href="/cqssc" target="_blank"><span class="icon icon-rocket"></span> 重庆时时彩</a></li>
    </ul>
  </div>
</body>

</html>