<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div style="margin-top:120px;">
    <h1>
      <%= title %>
    </h1>
    <ul id="breadcrumb">
      <li><a href="/pk10/buy"><span class="icon icon-home"> </span></a></li>
      <li><a href="/pk10/buyset" target="_blank"><span class="icon icon-leaf"> </span> 下注设置</a></li>
      <li><a href="/pk10/buysetshot" target="_blank"><span class="icon icon-leaf"> </span> 当前设置</a></li>
      <li><a href="/pk10/buylog" target="_blank"><span class="icon icon-leaf"> </span> 下注记录</a></li>
    </ul>
  </div>
</body>

</html>